.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}
.Drink{
    background-color: white;
    padding:8px;
    height:80%;
    box-sizing:border-box;
    border-radius: 5px;
    
    }
    .Drink img{
        height:100%;
    }